form, mat-form-field{
    position: relative;
    width: 100%;
    text-align: right;
    line-height: 25px;
    button.btn-update{
        margin: 3px;
        background-color: rgb(119, 167, 168);
    }
}
form.dark{
    input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #837D71;
        opacity: 1; /* Firefox */
    }
    input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #837D71;
    }
    input::-ms-input-placeholder { /* Microsoft Edge */
        color: #837D71;
    }
    mat-label,mat-option{
        // background-color: rgb(61, 61, 61);
        background-color: #1E292F;
        color: #fff;
    }
    mat-chip{
        background-color: rgb(95, 95, 95);
        color: #fff;
    }
}

mat-option.dark{
    // background-color: rgb(61, 61, 61);
    background-color: #1E292F;
    color: #fff;
}
mat-option.dark:hover{
    background-color: rgb(46, 46, 46);
    color: #fff;
}