<div class="container">
    <mat-vertical-stepper #stepper>
        <mat-step [stepControl]="contentFormGroup" label="Fill content">
          <app-content-step [formGroup]="contentFormGroup"></app-content-step>
        </mat-step>
        <mat-step [stepControl]="skillsFormGroup" label="Choose skills">
          <app-skills-step [skills]="selectedSkills" [formGroup]="skillsFormGroup"></app-skills-step>
        </mat-step>
        <mat-step [stepControl]="subscribersFormGroup" label="Select subscribers">
          <app-subscribers-step [users]="selectedUsers" (onSubmit)="submit()" [formGroup]="subscribersFormGroup"></app-subscribers-step>
        </mat-step>
    </mat-vertical-stepper>
</div>