.container{
    box-shadow: 2px 0px 8px rgb(139, 139, 139), -2px 0px 8px rgb(139, 139, 139);
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    margin-left: 25px; margin-bottom: 20px;
    overflow: auto;
    mat-icon{
        color: gray;
    }
    mat-accordion{
        width: 100%;
    }
    .header{
        width: 100%; padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(180, 180, 180);
        mat-icon{
            position: absolute;
            right: 15px;
            transform: rotateY(180deg);
            margin-right: 4px;
            padding: 8px;
            border-radius: 50%;
            color:gray;
        }
        .rotate{
            animation:spin .6s linear;
        }
        @keyframes spin {
            100%{
                transform: rotateY(180deg) rotate(-360deg);
            }
        }
        span{
            position: relative;
            left: 10px;
            padding: 8px;
        }
    }
    .footer{
        display: flex;
        position: absolute;
        justify-content: center; align-items: center;
        width: 100%; padding: 5px; bottom: 0;
        position: sticky; 
        background-color: white;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar {
    display: none;
}

.container.dark{
    background-color: rgb(112, 112, 112);
    box-shadow: 2px 0px 8px rgb(92, 92, 92), -2px 0px 8px rgb(92, 92, 92);
    background-color: rgb(61, 61, 61);
    color: #fff;
    mat-expansion-panel, .footer, mat-panel-title{
        background-color: rgb(61, 61, 61);
        color: #fff;
    }
}
