<div class="container">
    <div class="header">
        <span><b>Community</b></span>
        <mat-icon mat-ripple (click)="reload(icon._elementRef)" #icon>replay</mat-icon>
    </div>
    
    <mat-accordion>
      <mat-expansion-panel *ngFor="let skill of skills">
        <mat-expansion-panel-header>
          <mat-panel-title>
              {{skill.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-user-suggestion *ngFor="let user of skill.users" [user]="user"></app-user-suggestion>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="footer">
        <button mat-button routerLink="/community"> SEE MORE </button>
    </div>
</div>