<div class="container" [ngClass]="{'dark':theme.dark}">
    <div class="home" [ngClass]="{'hideInfo':screen.innerWidth<=1150}">
        <div class="ideas-container">
           <div class="ideas">
            <div class="header" dir="rtl">
                <button mat-button (click)="selectTab('ideas')" [ngClass]="{'selected':selected=='ideas'}">تمام ایده‌ها</button>
                <button mat-button (click)="selectTab('your_ideas')" [ngClass]="{'selected':selected=='your_ideas'}">ایده‌های شما</button>
                <button mat-button (click)="selectTab('your_requests')" [ngClass]="{'selected':selected=='suggestions'}">مرتبط به شما</button>
            </div>
            <app-idea *ngFor="let idea of ideas" [idea]="idea"></app-idea>
           </div>
        </div>
        <div class="suggestions" *ngIf="screen.innerWidth>1000">
            <app-community></app-community>
            <app-suggestions></app-suggestions>
        </div>
    </div>
</div>
