:host{
    width: 100%; height: 100%;
}
.body{
    display: flex;
    justify-content: center;
    width: 100%; height: 100%;
    background-color: rgb(223, 223, 223);
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.body::-webkit-scrollbar {
    display: none;
}
.container{
    box-shadow: 2px 0px 8px rgb(139, 139, 139), -2px 0px 8px rgb(139, 139, 139);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 92%; height: fit-content;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 10px;
}
.body.dark{
    background-color: rgb(112, 112, 112);
    .container{
        background-color: rgb(61, 61, 61);
        color: #fff;
        box-shadow: 2px 0px 8px rgb(92, 92, 92), -2px 0px 8px rgb(92, 92, 92);
        mat-vertical-stepper, mat-step, form-field, input,mat-label,mat-option{
            background-color: rgb(61, 61, 61);
            color: #fff;
        }
        .label{
            color: #fff;
        }
        mat-chip{
            background-color: rgb(95, 95, 95);
            color: #fff;
        }
    }
}
