<div class="container">
    <div class="header">
        <span>Trends for you</span>
        <mat-icon>settings</mat-icon>
    </div>
    <div class="trend">
        <div class="content">
            <H4>#music</H4>
            <p>63k Tweets</p>
        </div>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <div class="trend">
        <div class="content">
            <H4>#apple</H4>
            <p>103k Tweets</p>
        </div>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <div class="trend">
        <div class="content">
            <H4>#sport</H4>
            <p>84.3k Tweets</p>
        </div>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <div class="trend">
        <div class="content">
            <H4>#game</H4>
            <p>49.8k Tweets</p>
        </div>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <p>SEE MORE</p>
</div>