<div class="body" [ngClass]="{'dark':theme.dark}">
    <div class="container">    
        <div class="card" dir="rtl">
            <button [routerLink]="'/idea/'+idea.id+'/update'" *ngIf="idea.creator == userInfo" class="update" mat-mini-fab><mat-icon>edit</mat-icon> </button>
            <h4 class="name" [routerLink]="'/profile/'+idea.creator.email">
                {{idea.creator.name}} {{idea.date.getHours()}}:{{idea.date.getMinutes()}}
            </h4>
            <h1>
                {{idea.title}}
            </h1>
            <div class="content">
              <p>{{idea.content}}</p>
            </div>
            <div class="skills">
                <span *ngFor="let skill of idea.skills">{{skill.name}}</span>
            </div>
            <div class="actions">
                <div>
                    <mat-icon (click)="like()" matRipple style="color: red;" *ngIf="isLiked">favorite</mat-icon>
                    <mat-icon (click)="like()" matRipple *ngIf="!isLiked">favorite_border</mat-icon>
                    <span>{{idea.likes.length}}</span>
                </div>
                <div>
                    <mat-icon matRipple>chat_bubble_outline</mat-icon>
                    <span>{{idea.requests.length}}</span>
                </div>
            </div>
        </div>
    </div>
</div>