<div class="container">    
    <mat-card dir="rtl">
        <mat-card-title>{{idea.title}}</mat-card-title>
        <mat-card-subtitle>{{idea.creator.name}}</mat-card-subtitle>
        <mat-card-content>
          <p>{{idea.content}}</p>
        </mat-card-content>
        <mat-card-actions>
            <div>
                <mat-icon (click)="like()" matRipple style="color: red;" *ngIf="isLiked">favorite</mat-icon>
                <mat-icon (click)="like()" matRipple *ngIf="!isLiked">favorite_border</mat-icon>
                <span>{{idea.likes.length}}</span>
            </div>
            <div>
                <mat-icon matRipple>chat_bubble_outline</mat-icon>
                <span>{{idea.requests.length}}</span>
            </div>
        </mat-card-actions>
    </mat-card>
    <br>
    <mat-tab-group [color]="'warn'" [backgroundColor]="'primary'">
        <mat-tab label="Subscribers">
            <div class="subscribers">
                <app-user-suggestion *ngFor="let user of idea.subscribers" [user]="user"></app-user-suggestion>
            </div>
        </mat-tab>
        <mat-tab label="Necessary skills">
            <div class="skills">
                <p mat-ripple *ngFor="let skill of idea.skills">{{skill.name}}</p>
            </div>
        </mat-tab>
        <mat-tab label="likes">
            <div class="likes">
                <app-user-suggestion *ngFor="let user of idea.likes" [user]="user"></app-user-suggestion>
            </div>
        </mat-tab>
        <mat-tab label="requests">
            <div class="requests">
                <app-user-suggestion *ngFor="let request of idea.requests" [user]="request.user"></app-user-suggestion>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
