<!-- <img *ngIf="screen.innerWidth>550" class="profile-image" [src]="tweet.profileImage" alt="profile"> -->
<div class="container" (click)="showToastMessage()">
    <div class="name">
        <span>{{tweet.name}}</span>
        <span> {{tweet.family}}</span>
        <span *ngIf="screen.innerWidth>550" class="username">@{{tweet.username}}</span>
        <span class="time">{{tweet.time.hours}}:{{tweet.time.minutes}}</span>
    </div>
    <div class="content">
        <span>{{tweet.content}}</span>
    </div>
    <div class="images" *ngIf="tweet.images!=null">
        <img *ngFor="let image of tweet.images" [src]="image" alt="image">
    </div>
    <div class="numbers">
        <div>
            <mat-icon matRipple>chat_bubble_outline</mat-icon>
            <span>{{tweet.comments}}</span>
        </div>
        <div>
            <mat-icon matRipple>autorenew</mat-icon>
            <span>{{tweet.reTweets}}</span>
        </div>
        <div>
            <mat-icon (click)="isLiked = false" matRipple style="color: red;" *ngIf="isLiked">favorite</mat-icon>
            <mat-icon (click)="isLiked = true" matRipple *ngIf="!isLiked">favorite_border</mat-icon>
            <span>{{tweet.likes + (isLiked?1:0)}}</span>
        </div>
        <div>
            <mat-icon matRipple style="transform: rotateY(180deg);">reply</mat-icon>
        </div>
    </div>
</div>