app-nav-bar{
    position: fixed;
    top: 60px; left: 0;
    width: 250px; height: calc(100vh - 50px);
    display: flex; flex-direction: column; 
    justify-content: center;
    align-items: center;
    transition: left .4s;
    box-shadow: 2px 7px 10px rgb(172, 172, 172);
    z-index: 2;
}
app-header{
    position: fixed;
    top: 0; right: 0; left: 0;
    height: 60px;
    display: flex;
    align-items: center;
}
.body{
    position: fixed;
    top: 60px; bottom: 0;
    left: 250px; right: 0;
    transition: all .4s;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.body::-webkit-scrollbar {
    display: none;
}

.fullscreen{
    .body{
        left: 0 !important;
    }
    app-nav-bar{
        left: -250px;
        box-shadow: none !important;    
    }
}

.hideInfo{
    width: 100% !important;
}

.dark{
    app-nav-bar{
        box-shadow: 2px 7px 10px  rgb(92, 92, 92);
        background-color: rgb(61, 61, 61);
        color: #fff;
    }
    app-header{
        background-color: rgb(61, 61, 61);
        color: #fff;
    }
    .body{
        background-color: rgb(112, 112, 112);
        color: #fff;
    }
}
