<form [formGroup]="formGroup" [ngClass]="{'dark':theme.dark}">
  <h2>عنوان ایده</h2>  
  <div>
      <mat-form-field appearance="outline" >
        <input
          dir="rtl"
          matInput
          placeholder="عنوان ایده"
          formControlName="title"
          required
        />
      </mat-form-field>
    </div>
    <h2>متن ایده</h2>
    <div>
        <!-- <mat-form-field appearance="outline"> -->
          
            <!-- <textarea
                placeholder="متن ایده"
                dir="rtl"
                rows="10"
                formControlName="content"
                required
                matInput></textarea> -->
        <!-- </mat-form-field> -->
      <ckeditor (change)="onChange($event)" [editor]="Editor"></ckeditor>
    </div>
</form>