<form [formGroup]="formGroup" [ngClass]="{'dark':theme.dark}">
  <h1>عنوانی برای ایده بنویسید</h1>  
  <div>
      <mat-form-field appearance="outline" >
        <mat-label>عنوان</mat-label>
        <input
          dir="rtl"
          matInput
          formControlName="title"
        />
      </mat-form-field>
    </div>
    <br>
    <h1>متن ایده</h1>
    <div>
        <!-- <mat-form-field appearance="outline"> -->
          
            <!-- <textarea
                placeholder="متن ایده"
                dir="rtl"
                rows="10"
                formControlName="content"
                required
                matInput></textarea> -->
        <!-- </mat-form-field> -->
      <ckeditor
        (change)="onChange($event)" 
        [editor]="Editor"></ckeditor>

    </div>
</form>