form, mat-form-field{
    position: relative;
    width: 100%;
    text-align: right;
    line-height: 25px;
    button{
        background-color: rgb(119, 167, 168);
    }
}
.chips{
    text-align: left !important;
}
:host ::ng-deep .ck-editor__editable_inline {
    min-height: 300px;
}

// :host ::ng-deep .ck-editor__editable_inline {
//     min-height: 100px;
// }