<form [formGroup]="formGroup" [ngClass]="{'dark':theme.dark}">
    <h2>افراد فعال در این ایده</h2>
    <mat-form-field (click)="selectSearch()" class="chips" appearance="outline">
      <mat-label>افراد فعال</mat-label>
      <mat-chip-list #userList aria-label="User selection">
        <mat-chip
          *ngFor="let user of selectedUsers"
          (removed)="removeUser(user)">
          {{user.firstName + " " + user.lastName}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          (click)="selectSearch()"
          placeholder="عضو جدید..."
          #userInput
          [formControl]="userCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="userList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addUser($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedUser($event)">
        <mat-option [ngClass]="{'dark':theme.dark}" *ngFor="let user of filteredUsers | async" [value]="user">
          {{user.firstName + " " + user.lastName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div>
      <br><br>
      <button [ngClass]="{'enable':formGroup.valid}" class="btn-create" [disabled]="!formGroup.valid" mat-button (click)="submit()">ثبت ایده</button>
    </div>
</form>