:host{
    width: 100%; height: 100%;
}
.body{
    display: flex;
    justify-content: center;
    width: 100%; height: 100%;
    background-color: rgb(223, 223, 223);
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.body::-webkit-scrollbar {
    display: none;
}
.container{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 2px 0px 8px rgb(139, 139, 139), -2px 0px 8px rgb(139, 139, 139);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%; width: 92%;
    max-width: 1000px;
    border-radius: 10px;

    form{
        position: relative;
        width: 85%;
        height: 80%;
    }
    mat-form-field{
        position: relative;
        width: 100%;
        margin: 5px;
        .img-container{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .img{
            width: 200px;
            height: 200px;
            border-radius: 100px;
            margin: 10px;
        }
    }
    .acts{
        button:not(.left){
            margin: 3px;
            background-color: rgb(119, 167, 168);
        }
        .left{
            position: absolute;
            left: -10px;
        }
    }
    .link{
        margin: 15px;
        background-color: rgb(168, 119, 119);
    }
}

.body.dark{
    background-color: rgb(112, 112, 112);
    .container{
        background-color: rgb(61, 61, 61);
        color: #fff;
        box-shadow: 2px 0px 8px rgb(92, 92, 92), -2px 0px 8px rgb(92, 92, 92);
        mat-stepper, mat-step, mat-form-field, input,mat-label,mat-option{
            background-color: rgb(61, 61, 61);
            color: #fff;
        }
        .label{
            color: #fff;
        }
        mat-chip{
            background-color: rgb(95, 95, 95);
            color: #fff;
        }
    }
}

mat-option.dark{
    background-color: rgb(61, 61, 61);
    color: #fff;
}
mat-option.dark:hover{
    background-color: rgb(46, 46, 46);
    color: #fff;
}