<div class="body" [ngClass]="{'dark':theme.dark}">
    <div class="container">
        <form dir="rtl" [formGroup]="formGroup">
            <h1><strong>ثبت نام</strong></h1>
            <!-- <mat-stepper>
                <mat-step>
                    <ng-template matStepLabel>
                        <span class="label">اطلاعات</span>
                    </ng-template> -->
                    <!-- <div>
                        <mat-form-field appearance="outline">
                            <mat-label>نام کاربری</mat-label>
                            <input matInput [formControl]="username" required>
                            <mat-error *ngIf="username.invalid">{{getUsernameError()}}</mat-error>
                        </mat-form-field>
                    </div> -->
                    <!-- <div>
                        <mat-form-field appearance="outline">
                            <mat-label>نام خانوادگی</mat-label>
                            <input matInput [formControl]="lastName" required>
                            <mat-error *ngIf="lastName.invalid">{{getFamilyError()}}</mat-error>
                        </mat-form-field>
                    </div> -->
                    <div>
                        <mat-form-field  appearance="outline">
                            <mat-label>ایمیل</mat-label>
                            <input matInput placeholder="example@example.com" [formControl]="email" required>
                            <mat-error *ngIf="email.invalid">{{getEmailError()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>رمز عبور</mat-label>
                            <input required matInput [formControl]="password" [type]="hidePass ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
                              <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="password.invalid">{{getPassError()}}</mat-error>
                          </mat-form-field>
                    </div>
                    <!-- <div class="acts">
                        <button mat-button matStepperNext>بعدی</button>
                    </div> -->
                <!-- </mat-step> -->
                <!-- <mat-step [formControl]="bio">
                    <ng-template matStepLabel>
                        <span class="label">درباره</span>
                    </ng-template>
                    <div>
                        <mat-form-field>
                            <div class="img-container">
                                <img [src]="myfilesrc" class="img">
                            </div>
                            <mat-toolbar style="display: none;">
                                <input matInput readonly name="memberContactNo"/>
                            </mat-toolbar>
                            <input type="file" #UploadFileInput id="fileUpload" name="fileUpload" (change)="fileChangeEvent($event)"
                                accept="image/*" />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>درباره خود بنویسید</mat-label>
                            <textarea placeholder="راه های ارتباطی و ..." matInput [formControl]="bio" rows="8"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="acts">
                        <button mat-button matStepperPrevious>قبلی</button>
                        <button mat-button matStepperNext>بعدی</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>
                        <span class="label">مهارت‌ها</span>
                    </ng-template>
                    <mat-form-field (click)="selectSearch()" class="chips" appearance="outline">
                        <mat-label>مهارت‌های خود را وارد کنید</mat-label>
                        <mat-chip-list #chipList aria-label="انتخاب مهارت‌ها">
                          <mat-chip
                            *ngFor="let skill of selectedSkills"
                            (removed)="removeSkill(skill)">
                            {{skill.name}}
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                          <input
                            (click)="selectSearch()"
                            placeholder="مهارت جدید..."
                            #skillInput
                            [formControl]="skillCtrl"
                            [matAutocomplete]="auto"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                          <mat-option [ngClass]="{'dark':theme.dark}" *ngFor="let skill of filteredSkills | async" [value]="skill">
                            {{skill.name}} ({{skill.users!.length}} نفر)
                          </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <div class="acts">
                        <button mat-button matStepperPrevious>قبلی</button>
                        <button mat-button [disabled]="!formGroup.valid" (click)="register()">ثبت نام</button>
                        <button mat-button (click)="openDialog()" class="left">
                            مهارت یافت نشد؟
                        </button>
                    </div>
                </mat-step> -->
            <!-- </mat-stepper> -->
            <button class="register" [ngClass]="{'enable':formGroup.valid}" mat-button [disabled]="!formGroup.valid" (click)="register()">ثبت نام</button>
            <button class="link" mat-button routerLink="/login">از قبل ثبت نام کرده اید؟</button>
        </form>
    </div>
</div>