form, mat-form-field{
    position: relative;
    width: 100%;
    .field{border-radius: 10px;padding: 10px;margin: 10px;border: 1px solid rgb(29, 29, 29);}
    .img-container{
        position: relative;
        top: -20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img{
        width: 80px;
        height: 80px;
        border-radius: 40px;
        margin: 10px;
    }
}
.categories{
    border-radius: 10px;padding: 10px;border: 1px solid rgb(29, 29, 29);

    position: relative;
    width: calc(100% - 20px); 
    height: fit-content;
    // height: 260px;
    gap: 10px;
    display: flex; align-items: center; justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    div{
        display: flex; align-items: center; justify-content: center;
        width: calc(50% - 10px);
        height: 80px;
        background-color: rgb(202, 202, 202);
        border-radius: 8px;
    }
    .selected{
        background-color: rgb(116, 160, 116);
    }
    // overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.categories::-webkit-scrollbar {
    display: none;
}

.dark mat-stepper, .dark{
    // background-color: rgb(61, 61, 61);
    background-color: #1E292F;
    color: #fff;
    .categories{
        div{
            background-color: rgb(119, 119, 119);
        }
        .selected{
            background-color: rgb(116, 160, 116);
        }
    }
    .label{
        color: #fff;
    }
    mat-label{
        color: #fff;
    }
    input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #837D71;
        opacity: 1; /* Firefox */
    }
    input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #837D71;
    }
    input::-ms-input-placeholder { /* Microsoft Edge */
        color: #837D71;
    }
}
