<div class="search" (click)="selectSearch()" *ngIf="screenWidth>700" [ngClass]="{'dark':theme.dark}">
    <mat-form-field (click)="selectSearch()" appearance="outline">
        <mat-label [ngClass]="{'dark':theme.dark}">Search on users</mat-label>
        <input
               (click)="selectSearch()"
               [formControl]="myControl"
               [matAutocomplete]="auto"
               matInput
               placeholder="Search">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="navigate($event)">
            <mat-option [ngClass]="{'dark':theme.dark}" *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.firstName + " " + option.lastName}}
            </mat-option>
        </mat-autocomplete>
        <mat-icon [ngClass]="{'dark':theme.dark}" matSuffix>search</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
</div>

<button routerLink="" class="home" mat-mini-fab>
    <mat-icon>home</mat-icon>
</button>

<div mat-ripple class="info" routerLink="/profile" *ngIf="isAuthenticated">
    <span>{{auth.userInfo.firstName + " " + auth.userInfo.lastName}}</span>
    <img [src]="auth.userInfo.img" alt="profile" height="35px" width="auto">
</div>

<div class="panel">
    <button (click)="screen.showMenu = !screen.showMenu" mat-button *ngIf="screenWidth<=700"><mat-icon [ngClass]="{'dark':theme.dark}">menu</mat-icon></button>
    <img width="100px" [src]="theme.dark?'/assets/Artboard 6@2x-8@0.5x.png':'/assets/Artboard 12@2x-8@0.5x-light.png'" alt="logo">
    <!-- <mat-slide-toggle class="dark-mode" (click)="setTheme()" (change)="setSkin($event)" [(ngModel)]="theme.dark" color="primary"><mat-icon [ngClass]="{'dark':theme.dark}">brightness_3</mat-icon><span *ngIf="screen.innerWidth>420">Dark Mode</span></mat-slide-toggle> -->
</div>