<div class="search" *ngIf="screenWidth>700" [ngClass]="{'dark':theme.dark}">
    <mat-form-field appearance="outline">
        <mat-label [ngClass]="{'dark':theme.dark}">Search on users</mat-label>
        <input [formControl]="myControl"
               [matAutocomplete]="auto"
               matInput
               placeholder="Search">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="navigate($event)">
            <mat-option [ngClass]="{'dark':theme.dark}" *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix>search</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
</div>

<button routerLink="" class="home" mat-mini-fab>
    <mat-icon>home</mat-icon>
</button>

<div mat-ripple class="info" routerLink="/profile" *ngIf="isAuthenticated">
    <span>{{auth.userInfo.name}}</span>
    <img [src]="auth.userInfo.img" alt="profile" height="35px" width="auto">
</div>

<div class="panel">
    <button (click)="screen.showMenu = !screen.showMenu" mat-button *ngIf="screenWidth<=700"><mat-icon>menu</mat-icon></button>
    <mat-slide-toggle [(ngModel)]="theme.dark" color="primary"><mat-icon class="dark-mode">brightness_3</mat-icon>Dark mode</mat-slide-toggle>
</div>