.logo{
    width: 50px; height: 50px;
    top: 0; left: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    mat-form-field{
        // background-color: rgb(194, 188, 188);
        width: 100%;
        input{
            height: 16px;
        }
    }
    mat-label{
        position: relative;
        top: 2px;
    }
    top: 9px;
    position: relative;
    left: 30%; 
    width: 30%;
    min-width: 250px;
    max-width: 400px;
}

.home{
    position: absolute;
    right: 10px;
    background-color: rgb(119, 167, 168);
    color: white;
}
.info{
    padding: 7px; border-radius: 5px;
    position: absolute;
    right: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        margin-right: 5px;
    }
    img{
        width: 40px; height: 40px;
        // top: 0; left: 10px;
        border-radius: 20px;

    }
}
.panel{
    position: absolute;
    left: 1%;
    display: flex;
    align-items: center;
    flex-direction: row;
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        margin: 5px;
    }
    .dark-mode{
        mat-icon{
            transform: rotate(165deg);
            top: 5px;
            position: relative;
            padding-left: 5px;
        }
        span{
            top: -2px;
            position: relative;
        }
    }
}
 mat-option.dark ,mat-label.dark{
    background-color: rgb(61, 61, 61);
    color: #fff;
}
mat-option.dark:hover{
    background-color: rgb(46, 46, 46);
    color: #fff;
}
.search.dark input{
    // background-color: #fff;
    color: #fff;
}

