.logo{
    width: 50px; height: 50px;
    top: 0; left: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    mat-form-field{
        // background-color: rgb(194, 188, 188);
        height: 60px;
        width: 100%;
    }
    position: relative;
    left: 30%; 
    width: 30%;
    min-width: 250px;
    max-width: 400px;
}

.info{
    position: absolute;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        margin-right: 5px;
    }
    img{
        width: 40px; height: 40px;
        // top: 0; left: 10px;
        border-radius: 20px;

    }
}
.links{
    position: absolute;
    left: 15%;
    display: flex;
    align-items: center;
    flex-direction: row;
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        margin: 5px;
    }
}