:host{
    display: flex;
    justify-content: center;
    width: 100%; min-height: 100%;
    background-color: rgb(223, 223, 223);
}
.container{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 2px 0px 8px rgb(139, 139, 139), -2px 0px 8px rgb(139, 139, 139);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92%; height: 100%;
    border-radius: 10px;
    form{
        position: relative;
        width: 85%;
        height: 75%;
    }
    mat-form-field{
        position: relative;
        width: 100%;
        margin: 5px;
    }
    .acts{
        button{
            margin: 5px;
            background-color: rgb(119, 167, 168);
            &.link{
                background-color: rgb(168, 119, 119);
            }
        }
    }
}