<div class="body" [ngClass]="{'dark':theme.dark}">
  <div class="container">
    <form dir="rtl" [formGroup]="formGroup">
        <h1>ورود</h1>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>ایمیل خود را وارد کنید</mat-label>
                <input matInput placeholder="example@example.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getEmailError()}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>رمز عبور خود را وارد کنید</mat-label>
                <input required matInput [formControl]="password" [type]="hidePass ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
                  <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.invalid">{{getPassError()}}</mat-error>
              </mat-form-field>
        </div>
        <div class="acts">
          <button mat-button [disabled]="!formGroup.valid" (click)="login()">ورود</button>
          <button mat-button routerLink="/register" class="link">ساختن اکانت</button>
        </div>
    </form>
  </div>
</div>