<div class="body" [ngClass]="{'dark':theme.dark}">
    <div class="container">
        <mat-tab-group [color]="'accent'">
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="label">All skills</span>
                </ng-template>
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let skill of allSkills">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{skill.name}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-user-suggestion *ngFor="let user of skill.users" [user]="user"></app-user-suggestion>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="label">Your skills</span>
                </ng-template>
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let skill of yourSkills">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{skill.name}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-user-suggestion *ngFor="let user of skill.users" [user]="user"></app-user-suggestion>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="label">All users</span>
                </ng-template>
                <mat-accordion  class="allUsers">
                    <mat-expansion-panel *ngFor="let user of users">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <app-user-suggestion [user]="user"></app-user-suggestion>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p *ngFor="let skill of user.skills" mat-ripple>{{skill.name}}</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>