:host{
    width: 100%; height: 100%;
}
.body{
    display: flex;
    justify-content: center;
    width: 100%; height: 100%;
    background-color: rgb(223, 223, 223);
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.body::-webkit-scrollbar {
    display: none;
}
.container{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 2px 0px 8px rgb(139, 139, 139), -2px 0px 8px rgb(139, 139, 139);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92%; height: fit-content;
    max-width: 1000px;
    border-radius: 10px;
    form{
        position: relative;
        width: 85%;
        height: 75%;
        margin-bottom: 40px;
        margin-top: 40px;
        button.help{
            font-weight: 175;
            font-size: 15px;
            right: -15px;
        }
    }
    mat-form-field{
        position: relative;
        width: 100%;
        margin: 5px;
    }
    .acts{
        button{
            margin: 5px;
            background-color: rgb(119, 167, 168);
            &.link{
                // background-color: rgb(168, 119, 119);
                background-color: #fff;
            }
        }
    }
}
.body.dark{
    background-color: rgb(112, 112, 112);
    .container{
        // background-color: rgb(61, 61, 61);
        background-color: #1E292F;
        color: #fff;
        box-shadow: 2px 0px 8px rgb(92, 92, 92), -2px 0px 8px rgb(92, 92, 92);
        mat-form-field, input,mat-label{
            // background-color: rgb(61, 61, 61);
            background-color: #1E292F;
            color: #fff;
        }
        input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #837D71;
            opacity: 1; /* Firefox */
        }
        input:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #837D71;
        }
        input::-ms-input-placeholder { /* Microsoft Edge */
            color: #837D71;
        }
    }
    .acts button.link{
        background-color: unset;
    }
    .login.enable{
        color: #000;
    }
}