.container{
    box-shadow: 2px 0px 8px rgb(172, 172, 172), -2px 0px 8px rgb(172, 172, 172);
    background-color: #fff;
    border: 1px solid rgb(199, 199, 199);
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    .name{
        text-align: left;
        .username{
            margin-left: 8px;
            color: gray;
        }
        .info{
            position: absolute;
            right: 28px;
        }
    }
    .content{
        margin-top: 10px;
        text-align: left;
        padding: 10px;
        padding-bottom: 0;
        border-radius: 5px;
        position: relative;
        .more{
            padding: 8px;
            background-color: rgb(206, 203, 203);
            border-radius: 8px;
        }
    }
    .rtl{
        text-align: right !important;
    }
    .images{
        position: relative;
        top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
        row-gap: 10px;
        margin-bottom: 20px;
        width: 100%;
        img{
            border-radius: 5px;
            width: 45%;
            height: auto;
        }
    }
    .numbers{
        display: flex;
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25%;
            // margin-top: 15px;
            padding: 5px;
            mat-icon{
                margin-right: 4px;
                padding: 8px;
                border-radius: 50%;
                color:gray;
            }
        }
    }
}
.profile-image{
    width: 40px; height: 40px;
    border-radius: 20px;
    position: relative;
    top: 0px;
}
.container.dark{
    border: 1px solid rgb(92, 92, 92);
    box-shadow: 2px 0px 8px rgb(92, 92, 92), -2px 0px 8px rgb(92, 92, 92);
    background-color: rgb(61, 61, 61);
    color: #fff;
}