<!-- <img *ngIf="screen.innerWidth>550" class="profile-image" [src]="tweet.profileImage" alt="profile"> -->
<div class="container">
    <div class="name">
        <span>{{idea.date.getHours()}}:{{idea.date.getMinutes()}}</span>
        <span *ngIf="screen.innerWidth>550" class="username">{{idea.creator.email}}</span>
        <span class="info">{{idea.creator.name}}</span>
    </div>
    <div mat-ripple (click)="showIdea()" class="rtl content" dir="ltr">
        <span>{{idea.content}}</span>
    </div>
    <div class="numbers" dir="rtl">
        <div>
            <span>{{idea.requests.length}}</span>
            <mat-icon matRipple>chat_bubble_outline</mat-icon>
        </div>
        <div>
            <span>{{idea.likes.length}}</span>
            <mat-icon (click)="like()" matRipple style="color: red;" *ngIf="isLiked">favorite</mat-icon>
            <mat-icon (click)="like()" matRipple *ngIf="!isLiked">favorite_border</mat-icon>
        </div>
    </div>
</div>