<div class="items">
    <div [routerLink]="item.endponint" (click)="select(i)" *ngFor="let item of informations.informations.slice(0,size);let i = index" class="item" matRipple [ngClass]="{'selected':item.isSelected}">
        <router-link [routerLink]="item.endponint">
            <mat-icon>{{item.icon}}</mat-icon>
            <span>{{item.title}}</span>
        </router-link>
    </div>
    <div *ngIf="size<10" class="item" matRipple [matMenuTriggerFor]="more" [ngClass]="{'selected':moreCondition}">
        <div class="more">
            <mat-icon style="transform: rotate(90deg);">more_vert</mat-icon>
            <span>More</span>
        </div>
    </div>
    <mat-menu #more class="more-menu">
        <button [routerLink]="item.endponint" (click)="select(i+size)" mat-menu-item *ngFor="let item of informations.informations.slice(size);let i = index">
            <router-link [routerLink]="item.endponint" (click)="select(i)">
                <mat-icon>{{item.icon}}</mat-icon>
                <span>{{item.title}}</span>
            </router-link>
        </button>
    </mat-menu>
</div>
<div class="tweet">
    <button mat-button>Tweet</button>
</div>