.item{
    top: -30px;
    width: 225px; height: 25px;
    margin: 6px; padding: 10px;
    display: flex; align-items: center;
    border-radius: 4px;
    router-link, .more{
        display: flex;
        align-items: center;
        :first-child{
            margin-right: 8px;
        }
        mat-icon{
            color: rgb(129, 125, 119);
        }
    }
}
.selected{
    color: rgb(0, 162, 255);
    border-right: 4px solid rgb(0, 162, 255);;
    border-radius: 4px 0 0 4px;
    mat-icon{
        color: rgb(0, 162, 255) !important;
    }
}
.tweet{
    width: 100%; 
    padding: 10px;
    display: flex;
    justify-content: center;
    button{
        background-color: rgb(0, 162, 255);
        width: 90%; top: 25px;
        border-radius: 25px;
        color: #fff;
        padding: 5px;
    }
}