<form [formGroup]="formGroup" [ngClass]="{'dark':theme.dark}">
    <mat-form-field (click)="selectSearch()" class="chips" appearance="outline">
      <mat-label>مهارت‌ها</mat-label>
      <mat-chip-list #chipList aria-label="Skill selection">
        <mat-chip
          *ngFor="let skill of selectedSkills"
          (removed)="removeSkill(skill)">
          {{skill.name}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          (click)="selectSearch()"
          placeholder="مهارت جدید..."
          #skillInput
          [formControl]="skillCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option [ngClass]="{'dark':theme.dark}" *ngFor="let skill of filteredSkills | async" [value]="skill">
          {{skill.name}} ({{skill.users.length}} نفر)
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div>
      <button mat-button class="left" (click)="openDialog()">مهارت یافت نشد؟</button>
      <button mat-button matStepperPrevious>قبلی</button>
      <button mat-button matStepperNext>بعدی</button>
    </div>
  </form>