<div class="container">
    <div class="profile" [ngClass]="{'hideInfo':screen.innerWidth<=1150}">
        <app-profile-info *ngIf="screen.innerWidth>1150"></app-profile-info>
        <div class="tweets-container">
            <div class="tweets">
                <div class="header">
                    <button mat-button>Tweets</button>
                    <button mat-button style="color: rgb(99, 176, 206);">Tweets & Retweets</button>
                    <button *ngIf="screen.innerWidth>450" mat-button>Media</button>
                    <button *ngIf="screen.innerWidth>850" mat-button>Likes</button>
                </div>
                <app-tweet *ngFor="let tweet of tweets" [tweet]="tweet"></app-tweet>
            </div>
        </div>
        <div class="suggestions" *ngIf="screen.innerWidth>1000">
            <app-trends></app-trends>
            <app-suggestions></app-suggestions>
        </div>
    </div>
</div>